@charset "utf-8";
header{
	width: 100%;
}
.header-top{
	width: 100%;
	background-color: #cd007f;
}
.header-top-gg{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.header-top-gg img{
	width: 100%;
	height: 80px;
}
.header-top-gg .close{
	width:20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 10%;
	right: 0;
	color:#666;
}
.header-nav{
	width: 100%;
	background-color:#e3e4e5;
	border-bottom: 1px solid #ddd;
}
.header-nav-aq{
	width: 1190px;
	height: 30px;
	line-height:29px;
	margin: 0 auto;
}
.header-nav-aq,.header-nav-aq a{
	color: #999;
}
.header-nav-left{
	float: left;
	margin-left: 200px;
	position: relative;
}
.header-nav-left p{
	border:1px solid #e3e4e5;
	border-bottom: none;
	padding: 0 4px;
}
.header-nav-left:hover p{
	background-color: #FFF;
	border:1px solid #ccc;
	border-bottom: none;
}
.header-nav-left:hover .nav-two{
	display: block;
}
.header-nav-left i{
	font-size: 16px;
}
.header-nav-right{
	float: right;
	display: flex;
}
.header-nav-right li{
	margin: 0 10px;
	position: relative;
}
.header-nav-right .wdjd{
	top: 30px;
	height: 50px;
}
.header-nav-right .khfw{
	left:-300px;
}
.header-nav-right li:hover .nav-two{
	display: block;
}
.header-nav-right i{
	font-size: 10px;
}
.header-nav .red{
	color: #f10215;
}
.header-nav-aq a:hover{
	color:#f10215;
}
.nav-two{
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	bottom: -204px;
	display: none;
	width: 362px;
	background-color: #FFF;
	z-index: 99;
}
.nav-two li{
	margin:10px;
}
.nav-two li a{
	padding:8px 10px;
	text-align: left;
}
.nav-two .one{
	background-color:#f10215;
	color: #FFF;
	border-radius: 4px;
}
.nav-two li a:hover{
	background-color:#f4f4f4;
	color: #f10215;
	border-radius: 4px;
}
.nav-two li .one:hover{
	background-color:#f10215;
	color: #FFF;
}
.search{
	display: flex;
	width: 1190px;
	margin: 20px auto;
}
.secrch-ss{
	margin-left:320px;
}
.secrch-ss form{
	position: relative;
}
.secrch-ss form input{
	width: 450px;
	height: 25px;
	padding: 16px 44px 16px 4px;
	line-height: 25px;
	font-size: 14px;
	border:none;
}
.secrch-ss form .icon-zhaoxiangji{
	position:absolute;
	right: 12%;
	top: 20%;
	font-size: 20px;
	color: #999;
	cursor: pointer;
}
.secrch-ss form .icon-zhaoxiangji:hover{
	color:#f10215;
}
.secrch-ss form button{
	width: 46px;
	height: 32px;
	line-height: 32px;
	border: none;
	background-color: #f10215;
	color: #FFF;
	outline:none;
	cursor: pointer;
	position: absolute;
	right:0;
	top: 0;
}
.gshopping{
	background-color: #FFF;
	width: 188px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color:#f10214;
	margin-left: 40px;
	border:1px solid  #ccc;
	position: relative;
}
.gshopping a{
	color:#f10214;
}
.gshopping>div span{
	color: #998;
}
.secrch-ss ul{
	display: flex;
}
.secrch-ss ul li{
	margin:6px 4px;
}
.secrch-ss ul li:first-child a{
	color:#f10214;
}
.secrch-ss ul li:hover a{
	color:#c81623 ;
}
.search .kshopping{
	bottom: -61px;
	right: -1px;
}
.gshopping:hover .kshopping{
	display: block;
	border:1px solid  #ccc;
}
.nav{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.nav img{
	width: 190px;
	height: 170px;
	position: absolute;
	top: -130px;
}
.nav ul{
	margin-left: 200px;
	display: flex;
}
.nav ul li{
	margin: 0 15px;
	position: relative;
}
.nav ul li a{
	font-size: 14px;
	color: #333;
}
.nav ul li a:hover{
	color:#c81623;
}
.gg{
	position: absolute;
	width: 1px;
	height: 10px;
	background-color:#666;
	top:5px;
	right:-18px;
}
.banner{
	width: 1190px;
	margin: 22px auto;
	display: flex;
}
.banner-nav ul{
	background-color:#FFF;
	width: 190px;
	height: 466px;
	border-top:1px solid  #ededed;
	padding:20px 0;
}
.banner-nav ul li{
	padding:6px 16px;
	font-size: 14px;
	transition: all .4s;
}
.banner-nav ul li:hover{
	background-color: #d9d9d9;
}
.banner-nav ul li a:hover{
	color: #c81623;
}
.banner-img{
	display:flex;
	padding: 10px 10px 0;
}
.banner-img>a img{
	width: 590px;
	height:496px;
	margin-right: 10px;
}
.banner-img-right{
	width: 190px;
	height:496px;
}
.banner-img-right img{
	width: 190px;
	height:150px;
}
.banner-img-right .two{
	margin:22px 0;
}
.vip{
	width: 100%;
	height:496px;
	background-color: #FFF;
	margin-top: 10px;
}
.vip-top{
	text-align: center;
	position: relative;
	padding-top: 40px;
	line-height: 25px;
	color: #888;
}
.vip-top .tx{
	position: absolute;
	top: -22px;
	left: 30%;
	box-shadow: 3px 6px 25px #c3c3c3;
	border-radius: 50%;
}
.vip-top>a{
	color: #666;
}
.vip-top a:hover{
	color: #c81623;
}
.vip-top .vip-fl{
	margin-top: 10px;
}
.vip-top .vip-fl a{
	width: 70px;
	height: 25px;
	display: inline-block;
	font-size: 12px;
	transition: all .6s;
}
.vip-top .vip-fl a:first-child{
	color: #e43f3b;
	border-radius:13px;
	box-shadow: 6px 8px 20px rgba(45,45,45,.15);
	margin-right: 10px;
}
.vip-top .vip-fl a:last-child{
	color: #e5d790;
	border-radius:13px;
	background-color: #363634;
}
.vip-top .vip-fl a:hover{
	background-color: #e01222;
	color: #FFF;
}
.cx{
	margin: 20px 10px 10px 0;
}
.cx>ul{
	display: flex;
	float: left;
}
.cx>ul>li{
	position: relative;
	margin: 0 10px;
}
.cx>ul>li>a{
	padding: 2px 0;
}
.cx>ul>li>span{
	width: 1px;
	height: 14px;
	background-color: #666;
	display: block;
	position: absolute;
	top: 2px;
	left: 34px;
}
.xhx{
	border-bottom:2px solid #e01222;
}
.cx>a{
	float: right;
}
.cx-xq{
	position: absolute;
	width:160px;
	border-bottom: 1px solid #EEEEEE;
	line-height: 30px;
}
.xyy{
	display: flex;
	margin: 160px 10px 0;
}
.xyy li{
	margin: 0 3px;
	text-align: center;
	line-height:24px;
}
.xyy li a{
	color: #d1c5ae;
}
.xyy li a i{
	font-size:20px;
}
.xyy li a{
	color: #d1c5ae;
	transition: all .2s;
}
.xyy li a:hover{
	color:#e01222;
}
.tt,.bb{
	top: 10px;
	left: 60px;
	background-color:#CCC;
}
.dd{
	top: 10px;
	left: 70px;
	background-color:#CCC;
}
section{
	margin: 0 auto;
	width: 1190px;
}
.jd-SecondKill{
}
.SecondKill{
	width: 190px;
	height: 275px;
	background-color: #e83632;
	float: left;
}
.SecondKill a{
	display: block;
	color: #FFF;
}
.SecondKill .jd_ms{
	font-size: 34px;
	text-align:center;
	padding-top:50px;
}
.SecondKill .jd_fd{
	font-size: 20px;
	color: #ffffff80;
	text-align: center;
}
.SecondKill .jd_sd{
	display: block;
	width:20px;
	height: 33px;
	background-image:url(../images/sd.png);
	background-position: -32.5px 0;
	margin: 10px auto;
	background-size: 52.5px 40px;
}
.SecondKill .jd_djs{
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.SecondKill .jd_time{
	display: flex;
	width: 136px;
	margin: 0 auto;
	height:40px;
}
.time_houer,.time_minute,.time_second{
	width: 40px;
	background-color: #2f3430;
	margin: 0 auto;
	line-height: 40px;
	position: relative;
}
.jd_time>div:before{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e83632;
	position: absolute;
	top: 50%;
	z-index: 2;
}
#houer,#minute,#second{
	font-size: 20px;
	font-weight:bold;
	z-index: 3;
	position: absolute;
	left:20%;
}

.jd_cjm{
	width: 800px;
	float: left;
}
.jd_cjm .cjm_a{
	float: left;
	width: 199px;
	height: 275px;
	margin-right: 1px;
	position: relative;
	background-color: #FFF;
}
.jd_cjm .cjm_a a{
	display: block;
	color: #666;
}
.cjm_bz{
	background-image: url(../images/sd.png);
	background-position: 0 0;
	background-size: 52.5px 40px;
	width: 30px;
	height: 40px;
	text-align: center;
	color: #FFF;
	position: absolute;
	left: 10px;
}
.cjm_a img{
	width: 140px;
	height: 140px;
	margin: 40px 30px 20px;
}
.cjm_a p{
	width: 160px;
	text-align: center;
	padding: 0 20px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.cjm_a:hover p{
	color: #c81623;
}
.cjm_a .cjm_money{
	width: 160px;
	margin: 20px auto 0;
	border: 1px solid #e6382f;
	text-align:center;
}
.cjm_money>span{
	float: left;
	display: block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
.cjm_money i{
	font-size: 12px;
}
.money_left{
	color: #FFF;
	background-color:#e6382f;
	font-weight: bold;
	font-size: 14px;
}
.money_right{
	color: #b7bcb8;
}
.ppms{
	float: left;
	height: 275px;
	background-color: #FFF;
	padding:8px 10px 7px;
	box-sizing: border-box;
}
.ppms .tu{
	width: 180px;
	height:260px;
	margin: 0 auto;
}
.ppms .tu img{
	width: 100%;
	height: 100%;
}
.jd_a,.jd_b,.znxf,.jd_d{
	margin: 30px 0;
	display: flex;
}
.phb{
	width: 390px;
	height: 450px;
	background-color: #FFF;
}
.jd_top{
	padding: 0 20px;
}
.jd_top a{
	display: flex;
	line-height: 50px;
}
.jd_top h3{
	font-size: 22px;
	font-weight: normal;
}
.jd_top i{
	background-image:url(../images/rt.png);
	background-position: 0px 0px;
	background-size: 23px 23px;
	display: block;
	width:23px ;
	height: 23px;
	margin: 14px 6px;
}
.jd_top span{
	color: #999;
	font-size: 14px;
}
.phb_nav{
	height: 34px;
	display: flex;
	background-color: #f7f7f7;
	text-align: center;
	line-height:34px;
}
.phb_nav li{
	flex: 1;
}
.phb_nav li a{
	color: #666;
}
.phb_nav li:hover a{
	color: #e33333;
}
.nav_xq .xq{
	width: 350px;
	margin: 0 auto;
}
.nav_xq .xq a{
	display: block;
}
.nav_xq .xq .xq_tu{
	float: left;
	width: 80px;
	height: 80px;
	margin-top:16px;
}
.nav_xq .xq .xq_tu img{
	width: 100%;
	height: 100%;
	transition:opacity .2s linear;
}
.nav_xq .xq .xq_one{
	float: left;
	color: #e74240;
	font-size: 32px;
	font-family: 'impact';
	padding: 40px 10px 0;
	transition: all .4s;
}
.nav_xq .xq .xq_name{
	float:left;
	display:block;
	width: 225px;
	color:#333;
	font-size:12px;
	padding-top: 40px;
}
.nav_xq .xq:hover .xq_name{
	color: #e33333;
}
.nav_xq .db{
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 20px;
}
.hmzj{
	margin: 0 10px;
}
.hmzj_xq{
	width: 390px;
	height:398px;
}
.hmzj_xq img{
	width: 100%;
	height: 100%;
}
.lj_one{
	width: 350px;
	margin: 10px auto 0;
}
.lj_one img{
	width: 100%;
	transition:opacity .2s linear;
}
.me{
	text-align: center;
	margin: 0 10px;
	border-bottom: 1px solid #f5f5f5;
}
.me_one{
	font-size: 16px;
	color: #333;
	padding-top: 20px;
}
.me_two{
	font-size: 14px;
	line-height: 50px;
	color: #999;
	padding-bottom:26px;
}
.fxhh{
	margin: 0 10px;
	text-align:center;
}
.fxhh li{
	width: 50%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
.fxhh li img{
	width:110px;
	height:110px;
}
.fxhh li .fxhh_bt{
	color: #3e8c96;
	font-size: 14px;
	font-weight:bold;
	padding-top: 20px;
}
.fxhh li .fxhh_xq{
	display: block;
	color: #666;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 20px;
}
.fxhh li p{
	transition: color .2s ease;
}
.fxhh li:hover p{
	color:#e33333;
}
.hg_a{
	width: 350px;
	height: 250px;
	margin: 0 auto;
}
.hg_a img,.hg_b img{
	width: 100%;
	height: 100%;
}
.hg_b{
	width: 360px;
	margin: 10px auto 0;
}
.hg_b>div{
	width:110px;
	height: 110px;
	float: left;
	margin: 0 5px;
}
.znxf_bt{
	position: relative;
}
.znxf{
	margin: 20px 0;
}
.znxf_bt:after{
	content: "";
	width: 50px;
	height: 3px;
	position: absolute;
	background-color: #000;
	left: 39%;
	top: 56%;
}
.znxf_bt:before{
	content: "";
	width: 50px;
	height: 3px;
	position: absolute;
	background-color: #000;
	left: 57%;
	top: 56%;
}
.znxf_bt h3{
	text-align: center;
	font-size: 28px;
}
.bt_sj{
	width:100%;
	margin: 0 20px;
}
.bt_sj img{
	width: 170px;
	height:180px;
	margin: 0 2px;
}
.iphone{
	width:350px;
	height: 178px;
	margin: 10px auto 0;
}
.iphone img{
	width: 100%;
	height:100%;
}
.xpsf{
	width:350px;
	height:370px;
}
.xpsf img{
	width:100%;
	height:100%;
}
.newfs{
	width:340px;
	height: 420px;
	border: 5px solid #333;
	margin:20px 0 0 40px;
	position: relative;
	z-index: -1;
}
.newfs .new_iphone{
	position:absolute;
	top: -24px;
	left:-30px;
}
.news{
	width:340px;
	height: 420px;
	border: 5px solid #333;
	margin:20px 30px 0 0;
	position: relative;
	z-index: -1;
}
.news .news_iphone{
	position: absolute;
	top: -36px;
	left: 24px;
}
.news .news_iphone img{
	width:340px;
	height: 200px;
	margin: 10px 0;
}
.wup{
	width: 428px;
	height: 460px;
}
.wup li{
	background-color: #FFF;
	width: 190px;
	height: 220px;
}
.mg{
	margin:0 10px 10px 0;
}
.znsm,.jd_shopping,.jd_shopping_t{
	text-align: center;
}
.znsm img{
	width: 350px;
	height: 180px;
	margin-bottom: 10px;
}
.jd_e img:hover{
	opacity: .8;
}
.jd_shopping img{
	width: 350px;
	height: 180px;
	margin-bottom: 10px;
}
.jd_shopping_t img{
	width: 170px;
	height: 180px;
	margin-left: 4px;
}
.tese{
	width:100%;
	background:#f0f3e;
}
.tese_wrap{
	width:1200px;
	height:326px;
	margin:0 auto;	
}
.tese_mokuai{
	width:1200px;
	display:flex;
}
.tese_left,.tese_middle,.tese_right{
	flex:1;
	background:#fff;	
}
.tese_middle{
	margin:0 10px;
	padding-bottom: 10px;
}
/*京东直播的样式*/
.zhineng{
	width:100%;
	background:#ddd;
}
.zhineng_wrap{
	width:1200px;
	margin:0 auto;
}
.zhineng_title{
	width:400px;
	margin:0 auto;
	display:flex;
	display:-webkit-flex;
	justify-content: flex-start;
	margin-top:30px;
	height:87px;
	line-height:87px;
}
.zhineng_zi{
	display:block;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
.hengxian{
	display:block;
	width:80px;
	height:2px;
	background:#000;
	margin:auto 35px;
}
.zhibo{
	width:100%;
	margin-top:60px;
}
.zhibo_wrap{
	width:1200px;
	margin:0 auto;
}
.zhibo_mokuai{
	width:1200px;
	margin:0 auto;
	display:flex;
}
.zhibo_left,.zhibo_right{
	flex:1;
	background:#fff;
}
.zhibo_middle{
	width:389px;
	background:#fff;
	padding-left:40px;
}
.zhibo_left ul{
	width:355px;
	margin:0 auto;
	display:flex;
}
.zhibo_left ul li{
	flex:1;
	background:#fff;
	position:relative;
	margin-top:10px;
} 
.zhibo_left i{
	font-size:40px;
	color:#fff;
	position:absolute;
	top:74px;
	left:64px;
}
.zhibomiddle_pic{
	position:relative;
	width:350px;
	padding-top:10px;
}
.zhibomiddle_pic img{
	width:100%;
}
.zhibomiddle_pic i{
	position:absolute;
	top:188px;
	left:148px;
	font-size:40px;
	color:#fff;
	}
/*逛的样式设置*/
.guang{
	width:100%;
	height:1740px;
	margin-bottom: 30px;
}
.guang_wrap{
	width:1200px;
	margin:0 auto;
}
.guang_wrap ul{
	width:1200px;
	height:270px;
	margin:5px auto;
	/*display:flex;*/
	overflow: hidden;
}
.guang_wrap ul li{
	width:290px;
	float: left;
	background:#fff;
	margin-right:10px;
	overflow: hidden;
}
.guang_wrap ul li figure img{
	padding-left:20px;
}
.guang_wrap ul li figcaption{
	width:198px;
	height:76px;
	padding-left:10px;
	margin-top:10px;
}
.binggan_money{
	text-align:center;
	color:red;
	margin-top:10px;
}
.moon_money{
	display:flex;
	justify-content: space-between;	
	margin-top:10px;
}
.moon_money span{
	display:block;
	flex:1;	
}
.vipjia{
	margin-left:58px;
}
.plus{
	background:#414141;
	color:#fff286;
	text-align:center;
}
.yuanjia{
	color:red;
}
/*last样式的设置*/
.last{
	width:100%;
}
.last_wrap{
	width:1200px;
	margin:0 auto;
}
.post{
	width:1000px;
	height:62px;
	display:flex;
	margin:0 auto;
	}
.post li{
	display:flex;
	align-items:center;
	align-content: center;
	flex:1;
	line-height:62px;	
	margin-right:10px;
}
.pinlei{
	display:inline-block;
	margin:auto 5px;
	font-weight:bold;
	font-size:18px;
}
.footer{
	width:1200px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}
.footer_right{
	width:202px;
}
.footer_title{
	text-align:center;
	margin-right:5px;
}
.footer_jieshao{
	font-size:14px;
}
.footer_right .datils {
	text-align:center;
	}
.footer_left{
	width:900px;
	display:flex;
}
.footer_left ul{
	flex:1;
}
.footer_left ul li a{
	color:#000;
}
.footer_left ul li:first-child a{
	color:#000;
	font-weight:bold;
}
.xian{
	width:1200px;
	margin:0 auto;
	height:1px;
	background:#ddd;
	margin:20px auto 30px;
}
.guanyu ul{
	width:1200px;
	height:60px;
	margin:0 auto;
	display:flex;
	font-size:14px;	
}
.guanyu ul li{
	text-align:center;
	height:60px;
	line-height:60px;
	margin:0 8px;
}
.guanyu ul li a{
	color:#000;
}
.footer_size{
	width:1100px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	font-size:14px;
	display:flex;
	justify-content: center;
	align-items: center;	
	}
.footer_size li{
	float:left;
	margin-left:10px;
	color:#676767;
	text-align:center;
	display:flex;
	align-items: center;
	font-size: 12px;
}
.finally{
	margin-top:30px;
}
